name: Pull Request Test

on:
  pull_request_target:
    branches:
      - main

jobs:
  rust_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - name: List project
        run: ls -a

      - name: Run Rust tests
        run: cargo test --all

      - name: Run Clean
        run: cargo clean
